body{
    background-color: rgb(19, 18, 18);
}
#home{
  
    background-image: url("back.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 1300px;
    height: 600px;
    margin-top: 4%;
    margin-bottom: 5%;
    margin-left: 6%;
  
}

@media (max-width: 600px) {
    #home {
      font-size: 16px;
      width: 90%;
   
    }
  }
   
.div1{
    text-align: center;
    margin-left: 10px;
    color: rgb(255, 255, 255);
    margin-top: 15%;
    font-family: 'Montserrat', sans-serif;
    
  }
  .a1{
  
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    color:rgb(41, 194, 221);
    text-decoration: none;
    padding: 15px;   
}
@media (max-width: 600px) {
    .a1{
      font-size: 13px;
      
   
    }
  }
   
#a1{
    font-family: 'Montserrat', sans-serif;   
    margin-top: -5%;
    font-weight: bolder;
    margin-left: 65%;

  
}
.a1:hover{
    background-color:  rgb(73, 77, 77);
    border: solid 1px rgb(41, 194, 221);
   
}
#p1{
    font-size: 40px;
    margin-top: 130px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    margin-bottom: 0%;
}
@media (max-width:500px){
    #p1{
        font-size: 16px;

    }
    
}
#p2{
    font-size: 45px;
    color:rgb(41, 194, 221);
    font-weight: bolder;
    font-family: 'Montserrat', sans-serif;
    margin-top: 0%;
}
@media (max-width:500px){
    #p2{
        font-size: 16px;

    }
    
}


.name{
    color: blanchedalmond;
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
}

.span{
    color:rgb(11, 159, 185);
}
.about{
    text-align: center;
    color:rgb(41, 194, 221);
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    padding: 15px;
    font-weight: bolder;
}
@media (max-width: 600px) {
    .about{
      font-size: 16px;
     
    }
  }
    

#about{
    background-color: rgb(19, 18, 18);
    margin-top: 0;
    margin-bottom: 1%;

  
}
   

#projects{
    background-color: rgb(19, 18, 18);
}
@media (max-width: 600px) {
    #projects{
      font-size: 10px;
      width: 100%;
   
    }
  }
#homename{
    color:rgb(41, 194, 221);
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;  

}
@media (max-width: 600px) {
    #homename {
      font-size: 12px;
    }
  }
#homedes{
    color:white;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;  
    margin-bottom: 10%;

}@media (max-width: 600px) {
    #homedes {
      font-size: 10px;
    }
  }

#card{
    padding: 20px;
    background-color: rgb(28, 26, 26);
    width: 25%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    margin-bottom: 3%;   
}
@media (max-width:500px){
    #card{
        width: 100%;
        height: 100%;
      

    }
    
}
#card img{
    width: 100%;
    height: 200px;
}
@media (max-width: 600px) {
    #card img {
      width: 100%;
      height: 50%;
    }
  }

#projcard{
display: flex;
justify-content: space-evenly;
padding: 2.5%;
}
@media (max-width: 600px) {
    #projcard {
     
      width: 100%;
   
    }
  }
.tosite{
    border: solid 1px rgb(41, 194, 221); 
    font-size: 15px;
    text-decoration: none;
    color:rgb(41, 194, 221);
    padding: 5px;
    margin-left: 37%; 
    margin-bottom: -100px; 
}
@media (max-width: 600px) {
    .tosite{
      font-size: 7px;
    }
  }

.tosite:hover{
    background-color: rgb(73, 77, 77);
   
}
#techgirl{
    margin-left: 6%;
    margin-bottom: 3%;

}
@media (max-width: 600px) {
    #techgirl {
     
      width: 45%;
      
    }
  }
#aboutpage{
    display: flex;
   
    

}
#aboutme{
    margin-left: 0.3%;
    color: white;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;  
    text-align: center;
    background-color: rgb(31, 29, 29);
    height: 300px;
    width: 950px;
    margin-top: 0%;

}
@media (max-width: 600px) {
    #aboutme {
    
      width: 150%;
   
    }
  }
.divcontact{
    text-align: center;
    margin-top: -3%; 
    background-color: rgb(238, 240, 240);
    padding: 2%;

   
}
@media (max-width: 600px) {
    .divcontact {
      width: 90%;
     
    }
  }

#get{
    color: rgb(0, 0, 0);
    font-size: 25px;
    font-family: 'Montserrat', sans-serif; 
    margin-top: -1%;   
}
#qtn{
    color: rgb(0, 0, 0);
     font-family: 'Montserrat', sans-serif; 
    font-size: 25px;
 

}
.conlink{
    padding: 1%;
 
}
.conlink:hover{
    background-color: rgb(248, 241, 241);
   
}
#pageline{
        height: 3px;
        background-color: rgb(0, 0, 0);
        border: none;
}
#abouttext{
    margin-left: -5%;
    margin-top: 5%;
}
@media (max-width: 600px) {
    #abouttext {
      font-size: 12px;
      width: 100%;
      margin-left: 2%;
    }
  }
 #email{
     
     font-size: 30px;
 }
